.text{
    font-weight: 700;
    font-size: 50px;
    margin: 20px;
    margin-bottom: 30px;
}

input{
    width: 100%;
}

.left{
    text-align: left;
}
.styling{
    margin: 5px;
    width: 100px;
}